li:last-child{
    float: right;
    


}
ul{
    text-decoration: none;
    list-style-type: none;
    color: black;
    float: right;

}
.menu{
    
}
.link{
    text-decoration: none;
    color: black;
}